<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>all-no-tag_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>区域沙盘</string>
		<key>itemTitle</key>
		<string>运输环境/周边配套</string>
		<key>itemImage</key>
		<string>thumb-1-0.png</string>
		<key>overlayImg</key>
		<string>bg-1-0.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>all_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>项目展示</string>
		<key>itemTitle</key>
		<string>有标签</string>
		<key>itemImage</key>
		<string>thumb-2-1.png</string>
		<key>overlayImg</key>
		<string>bg-2-0.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-0_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心全景</string>
		<key>itemImage</key>
		<string>thumb-2-2.png</string>
		<key>overlayImg</key>
		<string>bg-2-2.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-out_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>249</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心外部</string>
		<key>itemImage</key>
		<string>thumb-2-3.png</string>
		<key>overlayImg</key>
		<string>bg-2-3.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-in_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>100</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心内部</string>
		<key>itemImage</key>
		<string>thumb-2-4.png</string>
		<key>overlayImg</key>
		<string>bg-2-4.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>xiuxian-0_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>休闲商业</string>
		<key>itemTitle</key>
		<string>休闲商业全景</string>
		<key>itemImage</key>
		<string>thumb-2-5.png</string>
		<key>overlayImg</key>
		<string>bg-2-5.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>xiuxian-out_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>249</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>休闲商业</string>
		<key>itemTitle</key>
		<string>休闲商业外部</string>
		<key>itemImage</key>
		<string>thumb-2-6.png</string>
		<key>overlayImg</key>
		<string>bg-2-6.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>xiuxian1-in_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>116</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>休闲商业</string>
		<key>itemTitle</key>
		<string>休闲商业内部1</string>
		<key>itemImage</key>
		<string>thumb-2-7.png</string>
		<key>overlayImg</key>
		<string>bg-2-7.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>xiuxian2-in_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>90</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>休闲商业</string>
		<key>itemTitle</key>
		<string>休闲商业内部2</string>
		<key>itemImage</key>
		<string>thumb-2-8.png</string>
		<key>overlayImg</key>
		<string>bg-2-8.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>zhongxin-0_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>中心广场</string>
		<key>itemTitle</key>
		<string>中心广场全景</string>
		<key>itemImage</key>
		<string>thumb-2-9.png</string>
		<key>overlayImg</key>
		<string>bg-2-9.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>zhongxin_1_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>215</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>中心广场</string>
		<key>itemTitle</key>
		<string>中心广场内景</string>
		<key>itemImage</key>
		<string>thumb-2-10.png</string>
		<key>overlayImg</key>
		<string>bg-2-10.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>zhongxin2-in_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<false/>
		</dict>
		<key>itemCategory</key>
		<string>中心广场</string>
		<key>itemTitle</key>
		<string>中心广场内景2</string>
		<key>itemImage</key>
		<string>thumb-2-11.png</string>
		<key>overlayImg</key>
		<string>bg-2-11.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger.png</string>
		<key>preNext</key>
		<true/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>建筑展示</string>
		<key>itemTitle</key>
		<string></string>
		<key>itemImage</key>
		<string>thumb-3-0.png</string>
		<key>overlayImg</key>
		<string>bg-3-0.png</string>
		<key>backgroundImg</key>
		<string>bg-3-0切.jpg</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-1_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心1F</string>
		<key>itemImage</key>
		<string>thumb-3-1.png</string>
		<key>overlayImg</key>
		<string>bg-3-1.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-2_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心2F</string>
		<key>itemImage</key>
		<string>thumb-3-2.png</string>
		<key>overlayImg</key>
		<string>bg-3-2.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-3_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心2F</string>
		<key>itemImage</key>
		<string>thumb-3-3.png</string>
		<key>overlayImg</key>
		<string>bg-3-3.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-4_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心3F</string>
		<key>itemImage</key>
		<string>thumb-3-4.png</string>
		<key>overlayImg</key>
		<string>bg-3-4.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>gouwu-b1_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心4F</string>
		<key>itemImage</key>
		<string>thumb-3-5.png</string>
		<key>overlayImg</key>
		<string>bg-3-5.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>xiuxian-1_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>购物中心</string>
		<key>itemTitle</key>
		<string>购物中心B1</string>
		<key>itemImage</key>
		<string>thumb-3-6.png</string>
		<key>overlayImg</key>
		<string>bg-3-6.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>xiuxian-2_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>休闲商业</string>
		<key>itemTitle</key>
		<string>休闲商业1F</string>
		<key>itemImage</key>
		<string>thumb-3-7.png</string>
		<key>overlayImg</key>
		<string>bg-3-7.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>xiuxian-B1_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>休闲商业</string>
		<key>itemTitle</key>
		<string>休闲商业2F</string>
		<key>itemImage</key>
		<string>thumb-3-8.png</string>
		<key>overlayImg</key>
		<string>bg-3-8.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>imgSeq</key>
		<dict>
			<key>prefix</key>
			<string>zhongxin-1_</string>
			<key>firstIndex</key>
			<integer>0</integer>
			<key>lastIndex</key>
			<integer>89</integer>
			<key>extension</key>
			<string>jpg</string>
			<key>cycle</key>
			<true/>
		</dict>
		<key>itemCategory</key>
		<string>休闲商业</string>
		<key>itemTitle</key>
		<string>休闲商业B1</string>
		<key>itemImage</key>
		<string>thumb-3-9.png</string>
		<key>overlayImg</key>
		<string>bg-3-9.png</string>
		<key>backgroundImg</key>
		<string></string>
		<key>finger</key>
		<string>finger1.png</string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>平面模型</string>
		<key>itemTitle</key>
		<string>B1层平面</string>
		<key>itemImage</key>
		<string>0B1-th.png</string>
		<key>overlayImg</key>
		<string></string>
		<key>backgroundImg</key>
		<string>0B1.jpg</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>0B1.jpg</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>平面模型</string>
		<key>itemTitle</key>
		<string>1层平面</string>
		<key>itemImage</key>
		<string>1F-th.png</string>
		<key>overlayImg</key>
		<string></string>
		<key>backgroundImg</key>
		<string>1F.jpg</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>1F.jpg</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>平面模型</string>
		<key>itemTitle</key>
		<string>2层平面</string>
		<key>itemImage</key>
		<string>2F-th.png</string>
		<key>overlayImg</key>
		<string></string>
		<key>backgroundImg</key>
		<string>2F.jpg</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>2F.jpg</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>平面模型</string>
		<key>itemTitle</key>
		<string>3层平面</string>
		<key>itemImage</key>
		<string>3F-th.png</string>
		<key>overlayImg</key>
		<string></string>
		<key>backgroundImg</key>
		<string>3F.jpg</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>3F.jpg</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>平面模型</string>
		<key>itemTitle</key>
		<string>4层平面</string>
		<key>itemImage</key>
		<string>4F-th.png</string>
		<key>overlayImg</key>
		<string></string>
		<key>backgroundImg</key>
		<string>4F.jpg</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string>4F.jpg</string>
	</dict>
	<dict>
		<key>itemCategory</key>
		<string>版权</string>
		<key>itemTitle</key>
		<string></string>
		<key>itemImage</key>
		<string>copyright_th.png</string>
		<key>overlayImg</key>
		<string></string>
		<key>backgroundImg</key>
		<string>copyright.jpg</string>
		<key>finger</key>
		<string></string>
		<key>preNext</key>
		<false/>
		<key>zoomScrollImg</key>
		<string></string>
	</dict>
</array>
</plist>
